.name {
    background: green;
    color: black;
    padding: 5px;
}

.email {
    background: red;
    color: white;
    padding: 5px;
}

.mobile {
    background: yellow;
    color: black;
    padding: 5px;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
    padding: 5px 10px;
}

#result {
    margin-top: 15px;
}